body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: black;
}

p {
    color: white;
}

p:nth-child(1) {
    color: brown;
}

h1 {
    color: blue;
}

em:first-child {
    color: green;
}

.a {
    color: cyan;
}

em:nth-child(2) {
    color: gray;
}

p.a {
    color: red;
}

p#b {
    color: orange;
}

em {
    color: yellow;
}