/*Stuart Enters*/
/*SE2840*/
/*Hornick*/
/*11/28/18*/

body {
    text-align: center;
    font-family: Arial, serif;
    background-color: #abcdef;
}

table {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 85%;
    background-color: #aabbcc;
    text-align: center;
    border-style: dashed;
}

img {
    width: 40%;
    max-width: 200pt;
}

.header {
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.label {
    width: 10%;
}

.cs2711 {
    width: 15%;
    border-style: solid;
    border-color: black;
    background-color: #cccc00;
    color: #0000ee;
}

.se2811 {
    width: 15%;
    border-style: solid;
    border-color: black;
    background-color: #cc00cc;
    color: #00cccc;
}

.se2840 {
    border-style: solid;
    border-color: black;
    background-color: #00cccc;
    color: #cc0000;
}

.ma262 {
    border-style: solid;
    border-color: black;
    background-color: #7c6c5c;
    color: #aaccbb;
}

.ph2031 {
    border-style: solid;
    border-color: black;
    background-color: #8a9bac;
    color: #feba76;
}

@media print {
    body {
        filter: grayscale(100%);
    } a {
        filter: grayscale(100%);
    } img {
        filter: grayscale(100%);
    }

    a {
        -webkit-filter: grayscale(100%);
    }

    img {
        -webkit-filter: grayscale(100%);
>>>>>>> Stashed changes
    }
}
