body {
    background-color: beige;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table#histogramTable {
    width: 85%;
}

button {
    padding: .5% 1.5%;
}

.div {
    width: 80%;
}